<ion-content >

  <ion-grid style="height: 100%;">

    <ion-row justify-content-center align-items-center style="height: 100%;">

        <ion-col size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-xl="4"> 
          <ion-card>
    <ion-card-header>
      <ion-card-title>
        User Register
      </ion-card-title>
    </ion-card-header>
       </ion-card> 
    <ion-card-content>
      <ion-item lines="none">
   <ion-label position="stack">
      Username
   </ion-label>
   <ion-input type="text" placeholder="Enter Username"></ion-input>
      </ion-item>
      <ion-item lines="none">
          <ion-label position="stack">
             Password
          </ion-label>
          <ion-input type="password" placeholder="Password"></ion-input>
             </ion-item>

             <ion-item lines="none">
                <ion-label position="stack">
                   Comfirm Password
                </ion-label>
                <ion-input type="password" placeholder="Password"></ion-input>
            </ion-item>

            <ion-button expand="block" color="secondary" (click)="registerUser()">Register User</ion-button>

    </ion-card-content>

          

        </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
